.tabane-copy-button svg,
.tabane-copy-thread-button svg {
  display: block;
}

.tabane-copy-thread-item {
  display: inline-flex;
}

.tabane-copy-button--done {
  color: #2bac76 !important;
}

.tabane-copy-button--failed {
  color: #e01e5a !important;
}
